<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Solution</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/output.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Solution.styles.css" asp-append-version="true" />
    <script src="~/js/site.bundle.js"></script>
</head>
<body class="p-1">
<header>
    <nav class="flex items-center justify-between px-4 py-2 bg-white shadow">
        <div>
            <img src="/images/logoSite.png" class="w-25" alt="Logo" />
        </div>


        <div>
            <i data-lucide="menu" class="w-6 h-6 text-blue-500"></i>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main">
        @RenderBody()
    </main>
</div>

<footer>
    @Html.Partial("_footer")
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script src="https://unpkg.com/lucide@latest"></script>
<script>
  lucide.createIcons();
</script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
