<section>@*Section of menu and cards*@
    <aside>
        <div class="flex justify-between">
            <p>Cars</p>
            <p>Homes</p>
        </div>
        <div>
            <div>
                <div class="flex">
                    <p>Where</p>
                    <form>
                        <input/>
                    </form>
                </div>
                <div>
                    <p>Check-in</p>
                    <form>
                        <input/>
                    </form>
                </div>
            </div>
            <div></div>
            <div></div>
        </div>
    </aside>
    <div>
        
    </div>
</section>