@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-red text-center">
    <h1 class="text-3xl font-bold text-red-500">Hello from Tailwind 3.3.2 🎉</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
