@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-red-500 text-center p-4">
    <h1>Bienvenue sur la page d'accueil</h1>
    <p>Ici ton contenu principal</p>
    <i data-lucide="home" class="w-6 h-6 text-blue-500"></i>
    <i data-lucide="alarm-clock" class="w-5 h-5 text-red-500"></i>
</div>

